/* AshZeN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: red;
  }
  ul,
  li,
  ol,
  dl {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  input,
  textarea {
    outline: none !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 20px;
  }
  .border-1px-three-seven {
    border: 1px solid #777777;
  }
  .border-1px-green {
    border: 1px solid green;
  }
  .border-1px-red {
    border: 1px solid red;
  }
  .border-1px-dark {
    border: 1px solid black;
  }
  .border-1px-light {
    border: 1px solid white;
  }
  .border-1px-blue {
    border: 1px solid blue;
  }
  .rad-6px {
    border-radius: 6px;
  }
  .rad-10px {
    border-radius: 10px;
  }
  .rad-15px {
    border-radius: 15px;
  }
  .rad-20px {
    border-radius: 20px;
  }
  .rad-cercle {
    border-radius: 50%;
  }
  
  /* start ==== container ==== start */
  .container-90-percent {
    width: 90%;
    margin: auto;
  }
  .container-80-percent {
    width: 80%;
    margin: auto;
  }
  .container-70-percent {
    width: 70%;
    margin: auto;
  }
  /* end ==== container ==== end */
  
  /* ==== spaces ==== ====================================== start padding ====================================== ==== spaces ====  */
  /* start all diresctions */
  .p-1 {
    padding: 0.5rem;
  }
  .p-2 {
    padding: 1rem;
  }
  .p-3 {
    padding: 1.5rem;
  }
  .p-4 {
    padding: 2rem;
  }
  .p-5 {
    padding: 2.5rem;
  }
  .p-6 {
    padding: 3rem;
  }
  .p-7 {
    padding: 3.5rem;
  }
  .p-8 {
    padding: 4rem;
  }
  .p-9 {
    padding: 4.5rem;
  }
  .p-10 {
    padding: 5rem;
  }
  /* end all diresctions */
  /* start top dir */
  .pt-1 {
    padding: 0.5rem;
  }
  .pt-2 {
    padding: 1rem;
  }
  .pt-3 {
    padding: 1.5rem;
  }
  .pt-4 {
    padding: 2rem;
  }
  .pt-5 {
    padding: 2.5rem;
  }
  .pt-6 {
    padding: 3rem;
  }
  .pt-7 {
    padding: 3.5rem;
  }
  .pt-8 {
    padding: 4rem;
  }
  .pt-9 {
    padding: 4.5rem;
  }
  .pt-10 {
    padding: 5rem;
  }
  /* end top dir */
  /* start right dir */
  .pr-1 {
    padding: 0.5rem;
  }
  .pr-2 {
    padding: 1rem;
  }
  .pr-3 {
    padding: 1.5rem;
  }
  .pr-4 {
    padding: 2rem;
  }
  .pr-5 {
    padding: 2.5rem;
  }
  .pr-6 {
    padding: 3rem;
  }
  .pr-7 {
    padding: 3.5rem;
  }
  .pr-8 {
    padding: 4rem;
  }
  .pr-9 {
    padding: 4.5rem;
  }
  .pr-10 {
    padding: 5rem;
  }
  /* end right dir */
  /* start buttom dir */
  .pb-1 {
    padding: 0.5rem;
  }
  .pb-2 {
    padding: 1rem;
  }
  .pb-3 {
    padding: 1.5rem;
  }
  .pb-4 {
    padding: 2rem;
  }
  .pb-5 {
    padding: 2.5rem;
  }
  .pb-6 {
    padding: 3rem;
  }
  .pb-7 {
    padding: 3.5rem;
  }
  .pb-8 {
    padding: 4rem;
  }
  .pb-9 {
    padding: 4.5rem;
  }
  .pb-10 {
    padding: 5rem;
  }
  /* end buttom dir */
  /* start left dir */
  .pl-1 {
    padding: 0.5rem;
  }
  .pl-2 {
    padding: 1rem;
  }
  .pl-3 {
    padding: 1.5rem;
  }
  .pl-4 {
    padding: 2rem;
  }
  .pl-5 {
    padding: 2.5rem;
  }
  .pl-6 {
    padding: 3rem;
  }
  .pl-7 {
    padding: 3.5rem;
  }
  .pl-8 {
    padding: 4rem;
  }
  .pl-9 {
    padding: 4.5rem;
  }
  .pl-10 {
    padding: 5rem;
  }
  /* end left dir */
  /* start inline dir */
  .p-inline-1 {
    padding: 0.5rem;
  }
  .p-inline-2 {
    padding: 1rem;
  }
  .p-inline-3 {
    padding: 1.5rem;
  }
  .p-inline-4 {
    padding: 2rem;
  }
  .p-inline-5 {
    padding: 2.5rem;
  }
  .p-inline-6 {
    padding: 3rem;
  }
  .p-inline-7 {
    padding: 3.5rem;
  }
  .p-inline-8 {
    padding: 4rem;
  }
  .p-inline-9 {
    padding: 4.5rem;
  }
  .p-inline-10 {
    padding: 5rem;
  }
  /* start inline dir */
  /* start blocl dir */
  .p-block-1 {
    padding: 0.5rem;
  }
  .p-block-2 {
    padding: 1rem;
  }
  .p-block-3 {
    padding: 1.5rem;
  }
  .p-block-4 {
    padding: 2rem;
  }
  .p-block-5 {
    padding: 2.5rem;
  }
  .p-block-6 {
    padding: 3rem;
  }
  .p-block-7 {
    padding: 3.5rem;
  }
  .p-block-8 {
    padding: 4rem;
  }
  .p-block-9 {
    padding: 4.5rem;
  }
  .p-block-10 {
    padding: 5rem;
  }
  /* start block dir */
  /* ==== spaces ==== ====================================== end padding ====================================== ==== spaces ====  */
  
  /* ==== spaces ==== ====================================== start margin ====================================== ==== spaces ====  */
  /* start all diresctions */
  .m-1 {
    margin: 0.5rem;
  }
  .m-2 {
    margin: 1rem;
  }
  .m-3 {
    margin: 1.5rem;
  }
  .m-4 {
    margin: 2rem;
  }
  .m-5 {
    margin: 2.5rem;
  }
  .m-6 {
    margin: 3rem;
  }
  .m-7 {
    margin: 3.5rem;
  }
  .m-8 {
    margin: 4rem;
  }
  .m-9 {
    margin: 4.5rem;
  }
  .m-10 {
    margin: 5rem;
  }
  /* end all diresctions */
  /* start tom dir */
  .mt-1 {
    margin: 0.5rem;
  }
  .mt-2 {
    margin: 1rem;
  }
  .mt-3 {
    margin: 1.5rem;
  }
  .mt-4 {
    margin: 2rem;
  }
  .mt-5 {
    margin: 2.5rem;
  }
  .mt-6 {
    margin: 3rem;
  }
  .mt-7 {
    margin: 3.5rem;
  }
  .mt-8 {
    margin: 4rem;
  }
  .mt-9 {
    margin: 4.5rem;
  }
  .mt-10 {
    margin: 5rem;
  }
  /* end tom dir */
  /* start right dir */
  .mr-1 {
    margin: 0.5rem;
  }
  .mr-2 {
    margin: 1rem;
  }
  .mr-3 {
    margin: 1.5rem;
  }
  .mr-4 {
    margin: 2rem;
  }
  .mr-5 {
    margin: 2.5rem;
  }
  .mr-6 {
    margin: 3rem;
  }
  .mr-7 {
    margin: 3.5rem;
  }
  .mr-8 {
    margin: 4rem;
  }
  .mr-9 {
    margin: 4.5rem;
  }
  .mr-10 {
    margin: 5rem;
  }
  /* end right dir */
  /* start buttom dir */
  .mb-1 {
    margin: 0.5rem;
  }
  .mb-2 {
    margin: 1rem;
  }
  .mb-3 {
    margin: 1.5rem;
  }
  .mb-4 {
    margin: 2rem;
  }
  .mb-5 {
    margin: 2.5rem;
  }
  .mb-6 {
    margin: 3rem;
  }
  .mb-7 {
    margin: 3.5rem;
  }
  .mb-8 {
    margin: 4rem;
  }
  .mb-9 {
    margin: 4.5rem;
  }
  .mb-10 {
    margin: 5rem;
  }
  /* end buttom dir */
  /* start left dir */
  .ml-1 {
    margin: 0.5rem;
  }
  .ml-2 {
    margin: 1rem;
  }
  .ml-3 {
    margin: 1.5rem;
  }
  .ml-4 {
    margin: 2rem;
  }
  .ml-5 {
    margin: 2.5rem;
  }
  .ml-6 {
    margin: 3rem;
  }
  .ml-7 {
    margin: 3.5rem;
  }
  .ml-8 {
    margin: 4rem;
  }
  .ml-9 {
    margin: 4.5rem;
  }
  .ml-10 {
    margin: 5rem;
  }
  /* end left dir */
  /* start inline dir */
  .m-inline-1 {
    margin: 0.5rem;
  }
  .m-inline-2 {
    margin: 1rem;
  }
  .m-inline-3 {
    margin: 1.5rem;
  }
  .m-inline-4 {
    margin: 2rem;
  }
  .m-inline-5 {
    margin: 2.5rem;
  }
  .m-inline-6 {
    margin: 3rem;
  }
  .m-inline-7 {
    margin: 3.5rem;
  }
  .m-inline-8 {
    margin: 4rem;
  }
  .m-inline-9 {
    margin: 4.5rem;
  }
  .m-inline-10 {
    margin: 5rem;
  }
  /* start inline dir */
  /* start blocl dir */
  .m-block-1 {
    margin: 0.5rem;
  }
  .m-block-2 {
    margin: 1rem;
  }
  .m-block-3 {
    margin: 1.5rem;
  }
  .m-block-4 {
    margin: 2rem;
  }
  .m-block-5 {
    margin: 2.5rem;
  }
  .m-block-6 {
    margin: 3rem;
  }
  .m-block-7 {
    margin: 3.5rem;
  }
  .m-block-8 {
    margin: 4rem;
  }
  .m-block-9 {
    margin: 4.5rem;
  }
  .m-block-10 {
    margin: 5rem;
  }
  /* start block dir */
  /* ========================================= end margin ========================================= */
  /* start ==== | flex | ==== start */
  .flex {
    display: flex;
  }
  .items-center {
    align-items: center;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-around {
    justify-content: space-around;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .flex-nowrap {
    flex-wrap: nowrap;
  }
  /* end ==== | flex | ==== end */
  /* start ==== | grid | ==== start */
  .grid-boxes-columns {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
  }
  /* end ==== | grid | ==== end */
  /* start ==== | color-back-ground | ==== start */
  .text-green {
    color: green !important;
  }
  .text-red {
    color: red !important;
  }
  .text-blue {
    color: blue !important;
  }
  .text-orange {
    color: orange !important;
  }
  .text-eee {
    color: #eee !important;
  }
  .text-777 {
    color: #777 !important;
  }
  .text-dark {
    color: black !important;
  }
  /* end ==== | color-back-ground | ==== end */